.login-body {
  height: 100vh;
}
.login-container {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  font-weight: bold;
  margin-bottom: 5px;
}

.login-container input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.login-container button {
  padding: 10px;
  background-color: #9d4edd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: large;
}

.login-container button:hover {
  background-color: #363673;
}

.login-container p {
  color: red;
  text-align: center;
}

@media (max-width: 480px) {
  .login-container {
    padding: 10px;
  }

  .login-container input {
    font-size: 14px;
    padding: 7px;
  }

  .login-container button {
    font-size: 14px;
    padding: 7px;
  }
}
@media (max-width: 768px) {
  .login-container {
    padding: 15px;
  }

  .login-container input {
    padding: 8px;
  }

  .login-container button {
    padding: 8px;
  }
}
