/*PRODUCT DETAILS*/

#product-detail-card {
    border: solid red 1px;
    margin: auto;
    margin-top: 5%;
    padding: 0 2rem;
    width: 80%;
  }
  
  .product-detail-img {
    position: relative;
    width: fit-content;
    margin: 0 30%;
  }
  
  #product-detail-card img {
    margin: 0 auto;
    width: 100%;
  }
  
  #product-detail-info {
    margin: 2rem;
  }
  
  #add-cart-button {
    background-color: #3C096C;
    color: white;
    border-radius: 15px;
    font-size: 1.3rem;
    margin: 1.2rem;
  }

  .purchase-button {
    background-color: #9D4EDD;
    color: white;
    border-radius: 15px;
    font-size: 1.3rem;
    margin: 1.2rem;
  }
  
  .fav-button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: whitesmoke;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    border: none;
    border-radius: 50px;
    font-size: 1.3rem;
    box-shadow: 1px 1px 2px rgb(104, 136, 179);
  }
  
  #comments-list {
    border: solid red 1px;
    margin: auto;
    width: 80%;
  }
  
  #see-more {
    border: solid red 1px;
    width: 80%;
    margin: auto;
  }
  
  
  /* COMMENT-BOX */
  
  .comment-box {
    display: flex;
    justify-content: flex-start;
    margin: 3rem;
    padding: 1rem;
    height: fit-content;
    width: 90%;
    gap: 1.5rem;
    border: solid 0.3px gray;
  }
  
  .comment-box img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50px;
  }
  
  .comment-info {
    padding: 1rem;
    width: 50%;
    text-align: left;
  }
  
  .comment-info h3 {
    font-size: 1.2rem;
  }
  
  .comment-info p {
    font-size: 1rem;
  }
  
  #delete-comment {
    background-color: white;
    border: solid 0.3px #ff0000c4;
    border-radius: 100px;
    color: #ff0000c4;
    font-size: 0.8rem;
  }
  
#new-comment-box {
    border: solid 1px gray;
    border-radius:50px;
    height: auto;
    margin: 1rem;
}

  #post-area {
    width: 85%;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
    height: 2rem;
    border: none;
    border-radius: 50px;
  }
  
  #post-button {
    margin: 1rem;
    background-color: #9D4EDD;
    border: none;
    border-radius: 50px;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    color: white;
  }

  #post-button:hover {
    background-color: #3C096C;
  }
  
  /* COMMENT-INFO */
  